

<link rel="stylesheet" href="/css/one_user_posts.css">

<div id="body-container">
    <div id="dashboard-div">

        <div id="me-container">
          <div id="dp-container">
            <img src="<%=locals.user.avatar%>">
          </div>
          <div id="name-container">
            <span> 
              <a href="/users/profile/<%= locals.user.id %>">
                <%= locals.user.name %>
              </a>
            </span>
          </div>
        </div>

        <div id="menu-name-container">
          <span>
            MENUS
          </span>
        </div>

        <div id="menu-div">


          <div class="item">
            <a href="/" class="a-tag-link">
              <div class="icon-div">
                <i class="fas fa-home">

                </i>
              </div>
              <div class="actual-option">
                <span>
                  Newsfeed
                </span>
              </div>
            </a>
          </div>


          <div class="item">
            <a href="/users/posts/<%=locals.user.id%>" class="a-tag-link active">
              <div class="icon-div">
                <i class="fas fa-envelope-open">

                </i>
              </div>
              <div class="actual-option">
                <span>
                  My posts
                </span>
              </div>
            </a>
          </div>


          <div class="item">
            <a href="#" class="a-tag-link">
              <div class="icon-div">
                <i class ="fas fa-user-friends">

                </i>
              </div>
              <div class="actual-option">
                <span>
                  Friends
                </span>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="/users/profile/<%=locals.user.id%>" class="a-tag-link">
              <div class="icon-div">
                <i class ="fas fa-address-card">

                </i>
              </div>
              <div class="actual-option">
                <span>
                  My profile
                </span>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="/users/sign-out" class="a-tag-link">
              <div class="icon-div">
                <i class="fas fa-door-open">

                </i>
              </div>
              <div class="actual-option">
                <span>
                  Sign Out
                </span>
              </div>
            </a>
          </div>
        </div>
    </div>

    <div id="user-posts-container">

        <div id="user-posts-heading">
          <span>
            <%= post_user.name %>'s Posts
          </span>
        </div>

        <div id="posts-list-container">
          <ul>             
            <% for(post of all_posts) { %> 
              <% if(post.user._id == post_user.id) { %>
                <%- include('_user_post') %>
              <% } %>
            <% } %>          
          </ul>

        </div>

    </div>
</div>


<script src="/js/toggle_likes_post.js"></script>
<script>
    $('.toggle-like-button').each(function() {
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>


